<div class="d-flex mb-1 justify-content-end">
  <div class="d-flex flex-column">
    <div class="small text-end">Doctor A.I.</div>

    <div class="border rounded-3 px-3 py-2 bg-success-subtle">
      <%= message.body %>
    </div>
  </div>
</div>