<div class="border rounded-3 px-3 py-2 bg-success-subtle">
  <%= message.body %>
</div>

<%= javascript_tag %(
  var messagesContainer = document.getElementById('messages-container');
  messagesContainer.scrollTop = messagesContainer.scrollHeight;
) %>