<div class="mb-3 d-flex justify-content-between">
  <h2>Usuários</h2>
  <%= link_to 'Voltar', admin_root_path, class: 'btn btn-primary' %>
</div>

<% @users.each do |user| %>
  <div>
    <span class="fw-bold">Email:</span> <%= user.email %>
    <span class="fw-bold">Criado em:</span> <%= l(user.created_at.to_date) %>
    <span class="fw-bold">Último login:</span> <%= l(user.last_sign_in_at.to_date) %>
  </div>
<% end %>
